
.footer {
    /* display:inline-block;
    width: 1200px;
    position: relative; */
    margin-top:auto
}

.link {
    height: 80px;
    padding: 10px;
}

.stretchIt {
    min-height: 72vh;
    display: flex;
    flex-direction: column;
}
