.leftSideD {
    position:relative;
    float:left;
    max-width:fit-content;
    padding-left: 100px;
    padding-top: 40px
}

.rightSideD {
    position:relative;
    float:right;
    max-width: 600px;
    max-height: 600px;
    display:inline;
    padding-right: 100px;
}

.wrapperD {
    display:inline;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    width: 300px;
}
