.card-content {
    position: absolute;
    top: 150px
}

.editButton {
    position: absolute;
    top: -346px;
    left: 175px;
    width: 70px;
    height: 70px;
    border-radius: 37%;
}

.icon {
    width: 50px;
    height: 50px;
    color:white;
    background: rgb(31, 57, 190);
    border-radius: 37%;
}

#delete {
    position: absolute;
    top: 450px;
}

.alert {
    position: relative;
    top:10px;
}
.alertMessage {
    display:inline-block;
}

.avatar-pic {
    width: 400px;
}


.userEditForm {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
}

.label {
    width:100px
}
.input {
    width: 1000px;
    height:40px
}