.card-content {
    position: relative;
}

.editButton {
    position: relative;
}

.icon {
    width: 30px;
    height: 30px;
    color:black;
    border-radius: 37%;
}

#delete {
    position: relative;
    top: 10px;
}

.alert {
    position: relative;
    top:10px;
}
.alertMessage {
    display:inline-block;
}

.avatar-pic {
    width: 400px;
}


.userEditForm {
    width:600px
}

.input {
    width: 1000px;
    height:40px
}